In [18]:
import pandas as pd
weather = pd.read_csv('weather.csv')

In [19]:
abb = {"D-backs" : "ARI", "Braves" : "ATL", "Orioles" : "BAL", "Red Sox" : "BOS", "Cubs" : "CHC", "White Sox" : "CHW", "Reds" : "CIN", "Indians" : "CLE", "Rockies" : "COL", "Tigers" : "DET", "Marlins" : "FLA", "Astros" : "HOU", "Royals" : "KAN", "Angels" : "LAA", "Dodgers" : "LAD", "Brewers" : "MIL", "Twins" : "MIN", "Mets" : "NYM", "Yankees" : "NYY", "Athletics" : "OAK", "Phillies" : "PHI", "Pirates" : "PIT", "Padres" : "SD", "Giants" : "SF", "Mariners" : "SEA", "Cardinals" : "STL", "Rays" : "TB", "Rangers" : "TEX", "Blue Jays"  : "TOR", "Nationals" : "WAS"}
for i in range(len(weather)):
    for word, initial in abb.items():
        weather.at[i, 'Home'] = weather.at[i, 'Home'].replace(word, initial)
        weather.at[i, 'Away'] = weather.at[i, 'Away'].replace(word, initial)
weather.head()

,Date,Home,Away,Home Score,Away Score,Venue,Weather (Degrees),Weather Type,Wind (MPH),Wind Direction
0,2014-03-22,ARI,LAD,1,3,Sydney Cricket Ground,75,Overcast,5,Varies
1,2014-03-22,ARI,LAD,5,7,Sydney Cricket Ground,79,Partly Cloudy,5,Varies
2,2014-03-30,LAD,SD,1,3,Petco Park,67,Clear,11,L To R
3,2014-03-31,CHC,PIT,0,1,PNC Park,54,Sunny,2,Out To CF
4,2014-03-31,KAN,DET,3,4,Comerica Park,52,Sunny,4,In From CF

In [21]:
ven = {"Globe Life Park in Arlington" : "Globe Life Field", "US Cellular Field" : "Guaranteed Rate Field", "Oco Coliseum" : "RingCentral Coliseum", "Angel Stadium of Anaheim" : "Angel Stadium", "AT&T Park" : "Oracle Park", "Turner Field" : "Truist Park", "Safeco Field" : "T-Mobile Park", "Oakland Coliseum" : "RingCentral Coliseum", "SunTrust Park" : "Truist Park"}
for i in range(len(weather)):
    for word, rep in ven.items():
        weather.at[i, 'Venue'] = weather.at[i, 'Venue'].replace(word, rep)
weather.head()

,Date,Home,Away,Home Score,Away Score,Venue,Weather (Degrees),Weather Type,Wind (MPH),Wind Direction
0,2014-03-22,ARI,LAD,1,3,Sydney Cricket Ground,75,Overcast,5,Varies
1,2014-03-22,ARI,LAD,5,7,Sydney Cricket Ground,79,Partly Cloudy,5,Varies
2,2014-03-30,LAD,SD,1,3,Petco Park,67,Clear,11,L To R
3,2014-03-31,CHC,PIT,0,1,PNC Park,54,Sunny,2,Out To CF
4,2014-03-31,KAN,DET,3,4,Comerica Park,52,Sunny,4,In From CF

In [23]:
weather = weather.rename(columns = {'Home' : 'Team 1', 'Away' : 'Team 2', 'Home Score' : 'Team 1 Score', 'Away Score' : 'Team 2 Score'})
weather.head()

,Date,Team 1,Team 2,Team 1 Score,Team 2 Score,Venue,Weather (Degrees),Weather Type,Wind (MPH),Wind Direction
0,2014-03-22,ARI,LAD,1,3,Sydney Cricket Ground,75,Overcast,5,Varies
1,2014-03-22,ARI,LAD,5,7,Sydney Cricket Ground,79,Partly Cloudy,5,Varies
2,2014-03-30,LAD,SD,1,3,Petco Park,67,Clear,11,L To R
3,2014-03-31,CHC,PIT,0,1,PNC Park,54,Sunny,2,Out To CF
4,2014-03-31,KAN,DET,3,4,Comerica Park,52,Sunny,4,In From CF

In [24]:
weather.to_csv('weather2.csv')